<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>TEXT SUMMARIZER</title>
  <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/unicons.css"/>
</head>

<body>
  <style>
    body {
      background-color: rgb(53, 79, 82);

      font-family: Play ;
        text-align: center;
    }
    .flex-parent {
      display: flex;
    }
    .jc-center {
      justify-content: center;
    }
    .container {
      text-align: center;
    }
    footer {
    text-align: center;
    text-shadow:black;
    margin-top: 8em;
    padding: 2px;
    color: whitesmoke;
  }
  </style>

  <div class="navbar-fixed">
    <nav class="grey darken-4" role="navigation" style="  height: 6em ; position: fixed;">
      <div class="nav-wrapper container">
        <h3>TEXT SUMMARIZER</h3>
      </div>
    </nav>
  </div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="input-field col s12 m10">
        <div class="icon-block"style="margin-left:10em; padding-top:9em">
          <h4 align="center" style="color: rgb(255, 255, 255);">LINK</h4>
          <form method="POST" action="/analyze_url">
            <input type="text" name="raw_url" style="color: #e0e1dd;" placeholder="Paste your link here" required="true">
            <div class="flex-parent jc-center">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <button type="submit"  style="color: rgb(199, 0 0);margin-right:4em;" class="btn btn-small waves-effect waves-light light-blue lighten-1">SUMMARIZE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer grey darken-4">
  <div class="container" id="aboutapp">
    <div class="row">
        <h6 class="grey-text text-lighten-4" align="center">👷 Project Authors: </h6>
        <p class="grey-text text-lighten-4" align="center">Lama alshabani & Lujain salah & Shumookh alharthi </p>
        <p class="grey-text text-lighten-4" align="center">Ebtihal alamri & Haneen alzahrani </p>
      </div>
    </div>
  </footer>

  </body>
</html>
